# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          args: --timeout=5m

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'
      
      - name: Test
        run: go test -v -race ./...

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: [lint, test]
    strategy:
      matrix:
        os: [linux, windows]
        arch: [amd64]
    
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 'stable'

    - name: Build Server
      env:
        GOOS: ${{ matrix.os }}
        GOARCH: ${{ matrix.arch }}
      run: |
        output_name="maiecho"
        if [ "${{ matrix.os }}" = "windows" ]; then
          output_name="maiecho.exe"
        fi
        go build -v -ldflags "-s -w" -o "dist/$output_name" ./server/cmd/maiecho

    - name: Build CLI Tool
      env:
        GOOS: ${{ matrix.os }}
        GOARCH: ${{ matrix.arch }}
      run: |
        output_name="maiecho-cli"
        if [ "${{ matrix.os }}" = "windows" ]; then
          output_name="maiecho-cli.exe"
        fi
        go build -v -ldflags "-s -w" -o "dist/$output_name" ./test/cli

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: maiecho-${{ matrix.os }}-${{ matrix.arch }}
        path: dist/
